.card{
    width: 312px;
    height: 430px;
    border-radius: 12px;
    padding-top: 45px;
    background-color: white;
}
.card-two{
    text-align: center;
}
.page-container{
    display: flex;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
}
.card-btn{
    width: 100%;
    background: aqua;
    color: white;
}
.card-img img{
    width: 100%;
}
h3{
    font-weight: bolder;
}
.info{
    display: flex;
    justify-content: space-between;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons i{
    padding-left: 10px;
    padding-right: 9px;
}
.card-show{
    width: 312px;
    height: 630px;
    border-radius: 12px;
    background-color: white;
}
.title-card-two{
    color: green;
    text-align: end;
    
    padding-top: 3px;
}
.title-cou{
    font-weight: bolder;
    padding-right: 40px;
    border-top: 2px solid rgba(148, 145, 145, 0.525);
}
